<!DOCTYPE html>
<html layout:decorate="~{/user/layout}">
<div layout:fragment="content" class="container">
    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="/images/icon-kakao.PNG" alt=""></div>
                            <p class="username">modern_web_channel</p>
                        </div>
                    </div>
                    <form th:action="@{|/setting/modify/${question.id}|}" method="post">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:each="image : ${question.fileList}">
                                    <img th:if="${image.filename.contains('jpg')}" class="ratio ratio-1x1"
                                         th:src="'/uploadFiles/'+${image.filename}" alt="img">
                                    <video th:unless="${image.filename.contains('jpg')}" class="ratio ratio-1x1" controls
                                           th:src="'/uploadFiles/'+${image.filename}"></video>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <img src="/images/kosom.PNG" class="icon" alt="">
                                <img src="/images/kosom.PNG" class="icon" alt="">
                                <img src="/images/kosom.PNG" class="icon" alt="">
                                <img src="/images/icon-kakao.PNG" class="save icon" alt="">
                            </div>
                            <p class="description">
                                <label for="content" class="form-label">내용</label>
                                <textarea name="content" class="form-control" rows="10"
                                          th:text="${question.content}"></textarea>
                            </p>
                            <p class="post-time">
                            <div th:text="${#temporals.format(question.createDate, 'yyyy년 M월 d일 HH시')}"></div>
                            <div th:text="${#temporals.format(question.modifyDate, 'yyyy년 M월 d일 HH시 ')}"></div>
                            </p>

                            <div class="comment-wrapper">
                                <div class="form-check form-switch">
                                    <div th:if="!${question.onOff}">
                                        <input class="form-check-input" type="checkbox" name="onOff"
                                               id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">댓글막기</label>
                                    </div>
                                    <div th:if="${question.onOff}">
                                        <input class="form-check-input" type="checkbox" name="onOff"
                                               id="flexSwitchCheckChecked" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">댓글막기</label>
                                    </div>
                                </div>

                                <input type="submit" value="저장하기" class="comment-btn">
                                <a th:href="@{|/question/list|}" class="comment-btn">취소</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" type='text/javascript'>
//스와이프
var swiper = new Swiper(".mySwiper", {
spaceBetween: 30,
centeredSlides: true,
pagination: {
el: ".swiper-pagination",
clickable: true,
},
navigation: {
nextEl: ".swiper-button-next",
prevEl: ".swiper-button-prev",
},
});
</script>
</html>