
<nav th:fragment="navbarFragment" class="navbar">
    <div class="nav-wrapper">
        <a class="navbar-brand" href="/">
            <img width="45" height="45" src="/logo/MainLogo.png" alt=""/></a>
        <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="img/home.PNG" class="icon" alt="">
            <img src="img/messenger.PNG" class="icon" alt="">
            <img src="img/add.PNG" class="icon" alt="">
            <img src="img/explore.PNG" class="icon" alt="">
            <img src="img/like.PNG" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav>