<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container row" style="float: none; margin:100 auto;">
    <h2>
        <a class="nomal_m" th:href="@{/question/list}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            게시물
        </a>

        <!--게시글 등록-->
        <a th:href="@{/question/create}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>
    </h2>
    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div th:each="question : ${question}">
                    <div class="post">
                        <div class="info">
                            <div class="user">
                                <!--사용자-->
                                <img class="img-responsive left-block rounded-circle"
                                     src="https://cdn.discordapp.com/attachments/981434976937578518/1002008325480787988/1658217808566.jpg"
                                     width="25" height="25" alt="list">
                                <p class="username">꼬솜우비</p>
                            </div>
                            <!--옵션(모달창)-->
                            <button type="button" class="btn" id="myModal" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" th:data-id="${question.id}"
                                    th:data-content="${question.content}">
                                <img src="https://img.icons8.com/stickers/344/ellipsis.png" width="20" height="20"
                                     alt="">
                            </button>
                        </div>
                        <!--  사진 및 동영상 -->
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:each="image : ${question.fileList}">
                                    <img th:if="${image.filename.contains('jpg')}" class="ratio ratio-1x1"
                                         th:src="'/uploadFiles/'+${image.filename}" alt="img">
                                    <video th:unless="${image.filename.contains('jpg')}" class="ratio ratio-1x1" controls
                                           th:src="'/uploadFiles/'+${image.filename}"></video>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>

                        <!--좋아요, 댓글-->
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <form class="icon" th:action="@{|/question/like/${question.id}|}"
                                      method="post">
                                    <button th:classappend="${question.replyLike}? 'mt-1 text-white like': 'mt-1 text-white unlike' "
                                            class="border-0"
                                            th:text="___" type="submit"></button>
                                </form>
                                <a th:href="@{|/question/list/detail/${question.id}|}"><img
                                        class="icon"
                                        src="/icon/answer.png" height="10" width="20"></a>
                                <img src="/images/icon-kakao.PNG" class="save icon" alt="">
                            </div>
                            <!--내용, 답변, 일자-->
                            <p class="description">
                            <div th:text="${question.content}"></div>
                            <!--답변 on off-->
                            <div th:if="!${question.onOff}">
                                <!--답변유무에 따라 답변 모두 보기 표시-->
                                <div>
                                    <div>
                                          <span th:if="${#lists.size(question.answerList)}!=0">
                                           <a th:href="@{|/question/list/detail/${question.id}|}"
                                              th:text="|${#lists.size(question.answerList)}개의 답변 모두 보기|"></a>
                                         </span>
                                        <span th:if="${#lists.size(question.answerList)}==0"></span>
                                    </div>

                                    <!--답변 한개 표시-->

                                    <div th:each="answer, index : ${question.answerList}">
                                        <spanp th:if="${index.index} == 0">
                                            <spanp th:text="${answer.content}"></spanp>
                                            <span>
                                            <form class="InstaDisplayInline" th:action="@{|/answer/main/like/${question.id}/${answer.id}|}"
                                                  method="post">
                                                <button th:classappend="${answer.replyLike}? 'text-white like': 'text-white unlike' "
                                                        class="border-0"
                                                        th:text="___" type="submit"></button>
                                            </form>
                                                </span>
                                        </spanp>

                                    </div>
                                </div>
                            </div>
                            </p>
                            <!--일자-->
                            <p class="post-time">
                            <div th:text="${#temporals.format(question.createDate, 'M월 d일')}"></div>
                            </p>
                        </div>
                        <!--댓글 달기-->
                        <form th:action="@{|/question/create/${question.id}|}" method="post"
                              class="my-3">
                            <!--                            <div th:replace="user/form_errors :: formErrorsFragment"></div>-->
                            <div class="comment-wrapper" th:if="${question.onOff}">
                                <img src="/icon/like.png" class="icon" alt="">
                                <input name="content" type="text" class="comment-box" placeholder="Add a comment" disabled/>
                                <button type="submit" class="comment-btn">post</button>
                            </div>
                            <div class="comment-wrapper" th:unless="${question.onOff}">
                                <img src="/icon/like.png" class="icon" alt="">
                                <input name="content" type="text" class="comment-box" placeholder="Add a comment">
                                <button type="submit" class="comment-btn">post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body center">

                    <a href="" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <div>
                            삭제
                        </div>
                    </a>
                    <hr>


                    <a href="javascript:move('/setting/modify/');">
                        <div>
                            수정
                        </div>
                    </a>
                    <hr>

                    <a href="" onclick="javascript:copy();">
                        <div>
                            링크 복사
                        </div>
                    </a>
                    <hr>

                    <a href="">
                        <div>
                            팔로우
                        </div>
                    </a>
                    <hr>

                    <a href="" onclick="javascript:url()" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                       data-bs-dismiss="modal">
                        <div>
                            공유
                        </div>
                    </a>
                    <hr>

                    <a href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal 2 -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    삭제하시겠습니까?
                </div>
                <div class="modal-body center">
                    <a href="javascript:move('/setting/delete/');">
                        <div>
                            확인
                        </div>
                    </a>
                    <hr>
                    <a href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal 3 -->
    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    공유하기
                </div>
                <div class="modal-body center">
                    <a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();">트위터</a>
                    <a id="btnKakao" class="link-icon kakao" href="javascript:sendLinkDefault();">카카오톡</a>

                    <hr>

                    <input type="text" id="ShareUrl">
                    <span class="btn-type1">
                        <button OnClick="javascript:CopyUrlToClipboard()">URL 복사</button>
                    </span>
                    <hr>
                    <a href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<script layout:fragment="script" type='text/javascript'>
//스와이프
var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

function url(){
    var obShareUrl = document.getElementById("ShareUrl");
	obShareUrl.value = window.document.location.href + "/detail/" + sessionStorage.getItem("question.id") ;
}

//링크 복사
function copy(){
	var url = '';
	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href + "/detail/" + sessionStorage.getItem("question_id") ;
	textarea.value = url;
	textarea.select();
	textarea.focus();
	document.execCommand("copy");
	document.body.removeChild(textarea);
	alert("URL이 복사되었습니다.");
}

function CopyUrlToClipboard(){
	var obShareUrl = document.getElementById("ShareUrl");
	obShareUrl.value = window.document.location.href + "/detail/" + sessionStorage.getItem("question_id") ;

	obShareUrl.select();
	document.execCommand("copy");

	alert("URL이 클립보드에 복사되었습니다");
}


//트위터 공유
/*<![CDATA[*/
function shareTwitter(){
    var sendUrl = document.URL;
    window.open("https://twitter.com/intent/tweet?url=" + sendUrl);
    /*]]>*/
}


//카톡 공유
 try {
 /*<![CDATA[*/
  Kakao.init('4961c3cbaa448fb5f0e3995a72595dcc')
  function sendLinkDefault() {
    var sendUrl = document.URL;
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: '',
        description: sessionStorage.getItem("question_content"),
        imageUrl:
          'https://cdn.discordapp.com/attachments/993375184193077272/1004543162099966042/MainLogo.png',
        link: {
          mobileWebUrl: sendUrl,
          webUrl: sendUrl,
        },
      },
      social: {
        likeCount: 28000000006,
        commentCount: 45,
        sharedCount: 845,
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: sendUrl,
            webUrl: sendUrl,
          },
        },
      ],
    })
  }
; window.kakaoDemoCallback && window.kakaoDemoCallback() /*]]>*/}
catch(e) { window.kakaoDemoException && window.kakaoDemoException(e) }


//modal에 정보전달
$('#exampleModal').on('show.bs.modal', function (e) {
    var questionId = $(e.relatedTarget).data('id');
    var questionContent = $(e.relatedTarget).data('content');
	sessionStorage.setItem("question_id", questionId);
	sessionStorage.setItem("question_content", questionContent);
});

function move(url){
    location.href = url+sessionStorage.getItem("question_id");
    sessionStorage.removeItem("question_id");
}
//파일이름 쪼개기









</script>
<!-- 자바스크립트 -->
</html>