<html layout:decorate="~{/user/layout}" class="BodyWhite">
<!-- 질문 -->
<div layout:fragment="content" class = "container my-3">
<section>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
            <div th:text="${#temporals.format(question.createDate, 'M월 d일')}"></div>
        </div>
    </div>
    <div class="detailBorder"></div>
    <!--댓글-->
    <div th:if="!${question.onOff}">

        <!--댓글표시-->
        <div id="test" class="card my-3" th:each="answer : ${question.answerList}">
            <div class="card-body">

                <div class="d-flex justify-content-between">
                    <span class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></span>
                    <button type="button" class="btn form-inline pt-0 pb-10" id="myModal" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" th:data-id="${answer.id}"
                            th:data-content="${question.content}">
                        <img src="https://img.icons8.com/stickers/344/ellipsis.png" width="20" height="20"
                             alt="">
                    </button>
                </div>

                <div>
                    <div class="InstaDisplayInline" th:text="${#temporals.format(answer.createDate, 'M월 d일')}"></div>
                    <form class="InstaDisplayInline" th:action="@{|/answer/like/${question.id}/${answer.id}|}"
                          method="post">
                        <button th:classappend="${answer.replyLike}? 'text-white like': 'text-white unlike' "
                                class="border-0"
                                th:text="___" type="submit"></button>
                    </form>
                    <!--옵션(모달창)-->

                </div>
            </div>
        </div>
        <!-- 답변 반복 끝  -->
        <!-- 답변 작성 -->
        <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
            <div th:replace="user/form_errors :: formErrorsFragment"></div>
            <textarea th:field="*{content}" rows="0.1" class="form-control"></textarea>
            <button type="submit" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2"
                     viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
        </form>
    </div>
</section>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body center">

                    <a href="" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <div>
                            삭제
                        </div>
                    </a>
                    <hr>


                    <a href="javascript:move('/comment/modify/');">
                        <div>
                            수정
                        </div>
                    </a>

                    <hr>

                    <a href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal 2 -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    삭제하시겠습니까?
                </div>
                <div class="modal-body center">
                    <a href="javascript:move('/comment/delete/');">
                        <div>
                            확인
                        </div>
                    </a>
                    <hr>
                    <a href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>



<script layout:fragment="script" type='text/javascript'>
//modal에 정보전달
$('#exampleModal').on('show.bs.modal', function (e) {
    var answerId = $(e.relatedTarget).data('id');
    var answerContent = $(e.relatedTarget).data('content');
	sessionStorage.setItem("answer_id", answerId);
	sessionStorage.setItem("answer_content", answerContent);
});

function move(url){
    location.href = url+sessionStorage.getItem("answer_id");
    sessionStorage.removeItem("answer_id");
}
//파일이름 쪼개기
</script>
<!-- 자바스크립트 -->
</html>